.register-00 {
  .pic-col {
    background-image: url("../../assets/imgs/register-side-pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .logo-text {
    padding: 4rem 7rem;
  }

  .register-form {
    padding: 2rem 7rem;
    margin-top: 3rem;

    a {
      text-decoration: none;
    }

    h4 {
      color: #064356;
      font-weight: 800;
      margin-bottom: 1rem;
      font-size: 2rem;
    }
    .manage-text {
      font-weight: 600;
      margin-bottom: 3px;
      color: #074456c4;
    }

    .small {
      font-size: 14px;
      font-weight: 200;
      color: #a9a9a9;
    }

    .form {
      margin-top: 3rem;

      .form-control {
        margin-top: 5px;
        height: 3rem;
      }
    }

    .form-check {
      margin-top: 1rem;
    }

    .form-check-label {
      color: #847d7d;
      font-weight: 100;
    }

    .signup-button {
      width: 11rem;
      margin-top: 1rem;
      border: none;
      background: #064356;
      color: white;
      border-radius: 6px;
      padding: 14px;
    }

    .have-an-account {
      font-weight: 600;
      color: #064356;
      padding: 0;
      margin-top: 1rem;
      font-size: 18px;
    }
  }
}
